@import url(https://fonts.googleapis.com/css?family=Days+One);
.bkg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-size: 100%;
    opacity: 1;
}
.container {
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0;
    overflow:hidden;
}
div.top, div.bottom {
    height: 25%;
    width: 100%;
    position: relative; 
    float: left;
}
div.center {
    height: 50%;
    width: 100%;
    position: relative; 
    float: left;
}
.left, .right {
    position: relative;
    float: left;
    height: 100%;
    width: 19.5%
}
.middle {
    position: relative;
    float: left;
    height: 100%;
    width: 60%;
}
.middle-left, .middle-right {
    position: relative;
    float: left;
    height: 100%;
    width: 35%;
}
.middle-center {
    position: relative;
    float: left;
    height: 100%;
    width: 30%;
}
#card-1, #card-2, #card-3, #card-4 {
    max-height: 40%;
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#card-3 {
    right: 44%;
    bottom: 100%;
}
#card-1 {
    right: 44%;
    top: 55%;
}
#card-4 {
    transform: rotate(90deg);
    right: 100%;
    top: 30%;
}
#card-2 {
    transform: rotate(90deg);
    right: 0;
    top: 30%;
}
.cards-in-hand {
    position: absolute;
    height: 100%;
    width: 100%;
}
.card-in-hand {
    animation: animateElement linear 0.5s;
    animation-iteration-count: 1;
    position: relative;
    float: left;
    height: 90%;
    margin-right: -8.5%;
}
@keyframes animateElement{
    0% {
      opacity:0;
      transform:  translate(20%,0px);
    }
    100% {
      opacity:1;
      transform:  translate(0px,0px);
    }
}
.card-in-hand > img {
    max-height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.middle.table {
    background-image: url('../images/table2.jpg');
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    border: 3px solid rgb(243, 239, 239);
}
.trumpCard {
    position: relative;
    height: 100%;
    width: 100%;
}
.trumpCard > img {
    position: absolute;
    right:20%;
    top: 20%;
    max-height: 100%;
    max-width: 100%;
}
.avatar {
    position: relative;
    width: 50%;
    height: 50%;
}

.playerNameDisplay {
    font-family: 'Days One', sans-serif;
    font-size: 14px;
    color: white;
}
.avatar > img {
	border-radius: 55%;
    max-width: 80%;
    padding: 2px;
}
.avatar-3 {
    width: 16.5%;
    margin-top: 3%;
}
.avatar-2, .avatar-4 {
    margin-top: 40%;
}
.trumpCaller {
    background-color: red;
}
.requestTrump {
    position: relative;
    height: 100%;
    width: 100%;
}
.requestTrump > img {
    position: absolute;
    right:20%;
    top: 20%;
    max-height: 100%;
    max-width: 100%;
}
.controller {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    border-radius: 5px;
    width: auto;
    top: 50%;
    left:50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.8);
    color: aliceblue;
    font-family: 'Comic Sans MS';
    text-align: center;
    display: none; 
    transform: translate(-50%,-50%);
    padding: 30px;
}