@import url(https://fonts.googleapis.com/css?family=Days+One);
.score-board {
  font-family: 'Days One', sans-serif;
  position: absolute;
  text-align: center;
  width: 130%;
  height: 28%;
  font-size: 10px;
  color: #0E1326;
  background: linear-gradient(to bottom, #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%);
  /* W3C */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.score {
  color: white;
  position: relative;
  float: left;
  width: 33%;
  height: 100%;
  font-size: 18px;
  background: linear-gradient(to bottom, #1f344e 0%, #143c5f 50%, #103c63 51%, #193b55 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b679e', endColorstr='#7db9e8', GradientType=0);
  /* IE6-9 */
}

.playerName {
  position: relative;
  float: left;
  width: 33%;
}