.cih-0{
    top: 58%;
    transform: rotate(-12deg);
}
.cih-1{
    top: 53%;
    transform: rotate(-10deg);
}
.cih-2{
    top: 49%;
    transform: rotate(-8deg);
}
.cih-3{
    top: 46%;
    transform: rotate(-6deg);
}
.cih-4{
    top: 43%;
    transform: rotate(-4deg);
}
.cih-5{
    top: 42%;
    transform: rotate(-2deg);
}
.cih-6{
    top: 42%;
    transform: rotate(0deg);
}
.cih-7{
    top: 43%;
    transform: rotate(2deg);
}
.cih-8{
    top: 46%;
    transform: rotate(4deg);
}
.cih-9{
    top: 48%;
    transform: rotate(6deg);
}
.cih-10{
    top: 52%;
    transform: rotate(8deg);
}
.cih-11{
    top: 56%;
    transform: rotate(10deg);
}
.cih-12{
    top: 62.5%;
    transform: rotate(12deg);
}