.scoreboard {
  width: 130%;
  height: 60%;
  /* border-radius: 20px; */
  background: linear-gradient(-60deg, #46404f 53%, #4b4452 53%);
  box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.25);
}
.team {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  font-size: 10pt;
  color: white;
}
.team .logo {
  width: 15%;
  margin: 5px;
}
.team .score {
  flex-shrink: 0;
  width: 35px;
  display: flex;
  justify-content: center;
  /* margin: 30px; */
  letter-spacing: 2px;
}

.header {
  height: 5%;
  float: left;
  font-size: 9pt;
  text-align: center;
  margin: 0 5px 0 5px;
}

.name {
  width: 30%;
  font-size: 10pt;
  margin-left: 5px;
}

table {
  font-size: 10pt;
  color: white;
  border-radius: 20px;
}

.teamA {
  background-color: #eabf4f;
  color: #4b4452;
}

.teamB {
  background-color: #072242;
}

b {
  font-weight: bold;
}